@font-face {
  font-family: runescapeFont;
  src: url(font/rs-font.ttf)
}

body {
  background-color: black;
  font-family: runescapeFont;
  color: #FFFF00;
}

#cdf_graph {
  background-image: url(images/scroll-mid.png);
}

.scroll {
  width: 480px;
  display: flex;
  flex-direction: column;
}

.cdfLine {
    fill: none;
    stroke: black;
    stroke-width: 3;
}

.kcDot {
  fill: #38ab54;
  stroke: #fff;
}

.myXaxis {

}

.myYaxis {

}

table {
  width: 480px;
  background-image: url(images/tbl-scroll.png);
  background-color: transparent;
  background-repeat: no-repeat;
  color: black;
  text-shadow: none;
  border: none;
  text-align: center;
}

tr {
  height: 30px;
}


  


